head
  title Portfolio
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="mobile-web-app-capable" content="yes")

template(name='main')
  +layout

template(name='layout')
  body
    +Template.dynamic(template=top)
    
    +Template.dynamic(template=main)
  footer
    +Template.dynamic(template=footer)
