template(name='footer')
  .section.grey.darken-1
    .container
      .row.center.twitter-row
        a(href='https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button' target='blank')
          img.in(src='/linkedin.png')
        a(href='https://github.com/svalaer' target='blank')
          img.in(src='/github.png')
        a(href='mailto:sullivanvalaer@gmail.com' target='blank')
          img.in(src='/mail-vs3.png')
