template(name='header')
  nav.light-blue.z-depth-1(role='navigation')
    .nav-wrapper.container
      a.brand-logo(href="/") S
      a.button-collapse(href="#", data-activates="mobile-demo")
        i.material-icons menu

      ul.right.hide-on-med-and-down
        li(class="{{isActiveRoute 'work'}}")
          a(href="{{pathFor 'work'}}") Work
        li(class="{{isActiveRoute 'who'}}")
          a(href="{{pathFor 'who'}}") Who
        li(class="{{isActiveRoute 'how'}}")
          a(href="{{pathFor 'how'}}") How

      ul.side-nav#mobile-demo
        li(class="{{isActiveRoute 'work'}}")
          a(href="{{pathFor 'work'}}") Work
        li(class="{{isActiveRoute 'who'}}")
          a(href="{{pathFor 'who'}}") Who
        li(class="{{isActiveRoute 'how'}}")
          a(href="{{pathFor 'how'}}") How
