template(name='home')
  .section
    .container
      .row.center
        .col.s12
          h1.header.center.light-blue-text Sullivan Valaer
      .row.center
        .col.s12
          img.circle.responsive-img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAb3AAAAJGIwOTE0NTU4LTExMTMtNGM1My1iZTAwLTMzODM1YjVhMWUyZg.jpg')
      .row.center
        h5.header.col.s12.center.light-blue-text.darken-1 Portland Based Web Developer
        p.header.col.s12.center.orange-text.darken-1 Front End Web developer focused on functional design
      .row.center
        .col.s12.l4
          a.waves-effect.waves-light.btn.light-blue(href="{{pathFor 'work'}}") Work
        .col.s12.l4
          a.waves-effect.waves-light.btn.light-blue(href="{{pathFor 'who'}}") Who
        .col.s12.l4
          a.waves-effect.waves-light.btn.light-blue(href="{{pathFor 'how'}}") How
